{% extends "base.html" %}

{% block header_body %}
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url_for("main") }}" class="brand-logo">IdMyFile</a>
    </div>
{% endblock %}

{% block css_body %}
    <style type="text/css">
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
    </style>
{% endblock %}

{% block main_body %}

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br /><br />
            <h1 class="header center orange-text">Filetype Identification</h1>

            <div class="row center">
                <h5 class="header col s12 light">An app to identify, categorize and analyze multiple files
                    based on their file extensions.<br />
                    Upload a file that contains the list of file names and file extensions that you want to analyze.
                </h5>
            </div>

            <div class="row center">
                <form method="post" enctype="multipart/form-data">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Browse File</span>
                            <input type="file" name="input_file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <button class="btn-large waves-effect waves-light orange" type="submit" name="action">Upload File
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>

            <div class="row center">
                <h6>Confused about the format of the input file?
                    Check out the <a href="{{ url_for("show_sample_input_file") }}">Sample Input File</a>.
                </h6>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_body %}
    <div class="container">
        <div class="row">
            <div class="col s2 m4">
                <h5>NOTE</h5>
            </div>
            <div class="col s8 m8 offset-s1">
                Input file should be a plain text file containing all files in the format
                "&lt;file_name&gt;.&lt;file_extension&gt;" with each file in a new line.
            </div>
        </div>
    </div>
{% endblock %}
